on: [push]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        use-bootstrap: [false, true]
        fpm-version: ['v0.1.0','v0.1.1','latest']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: fpm-setup
        uses: ./ # Uses action in the root directory
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fpm-version: ${{ matrix.fpm-version }}
          use-bootstrap: ${{ matrix.use-bootstrap }}

      - name: test fpm
        run: fpm --help
