name: Test

on: [push]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13, windows-latest]
        fpm-version: ["v0.8.0", "v0.9.0", "latest"]
        node-version: ["20.x"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: MacOS system setup
        if: runner.os == 'macOS'
        run: |
          brew install gcc@10

      - name: Install dependencies
        run: npm ci

      - name: fpm-setup
        uses: ./ # Uses action in the root directory
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fpm-version: ${{ matrix.fpm-version }}

      - name: Checkout the fpm repo
        if: matrix.fpm-version == 'latest'
        uses: actions/checkout@v4
        with:
          repository: fortran-lang/fpm

      - name: Setup the Fortran compiler
        if: matrix.fpm-version == 'latest'
        uses: fortran-lang/setup-fortran@v1.6.3
        with:
          compiler: gcc
          version: 13

      - name: Check that all the fpm tests pass
        if: matrix.fpm-version == 'latest'
        run: fpm test
